<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
       <parameter name="browser" value="chrome"/>
       <parameter name="baseUrl" value="https://auto.ria.com/"/>


    <!--       <test verbose="2" preserve-order="true" name="C:/My doc/Idea_projects/apiTestAutoRia/src/test/java/theinternetherokuappcom">
               <parameter name="browser" value="chrome"/>
               <parameter name="url" value="https://auto.ria.com/"/>
               <classes>
                   <class name="theinternetherokuappcom.stacktest">
                       <methods>
                           <include name="teststackquestion"/>
                       </methods>
                    </class>
                    <class name="theinternetherokuappcom.testcases">
                       <methods>
                           <include name="logintest_failed_withdataprovider"/>
                           <include name="simple_alert"/>
                           <include name="basic_auth"/>
                           <include name="broken_images"/>
                       </methods>
                   </class>
               </classes>
           </test>
           <test verbose="2" preserve-order="true" name="C:/My doc/Idea_projects/apiTestAutoRia/src/test/java/autoriaapi">
               <classes>
                   <class name="autoriaapi.testSEARCH">
                       <methods>
                           <include name="responcecode200"/>
                           <include name="categoryIdcheck"/>
                       </methods>
                   </class>
               </classes>
           </test>  -->
           <test verbose="2" preserve-order="true" name="C:/My doc/Idea_projects/apiTestAutoRia/src/test/java/autoriaui">
                 <classes>
                   <class name="autoriaui.BaseTestCase">
                       <methods>
                           <include name="TU01"/>
                           <include name="TU02"/>
                           <include name="TU03"/>
                           <include name="TU04"/>
                       </methods>
                   </class>
               </classes>
           </test>



   </suite>