<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count ="4"  verbose="4"  name="All Test Suite"  parallel = "tests">
      <parameter name="os" value="windows"/>
      <parameter name="node" value="http://localhost:4444"/>

                     <test verbose="2" preserve-order="true" name="autoriaapi">
                          <classes> <class name="autoriaapi.TestSearch"></class></classes>
                     </test>

                     <test verbose="2" preserve-order="true" name="autoRiaApiByRestAssured">
                     <classes>
                         <class name="autoriaapibyrestassured.ApiSearchAutoId"> </class>
                         <class name="autoriaapibyrestassured.KeyAsObligatoryParam"> </class>
                         <class name="autoriaapibyrestassured.SearchCriteriaCheck"> </class>
                     </classes>
                     </test>

            <test verbose="2" preserve-order="true" name="theinternetherokuappcomchrome">
             <parameter name="browser" value="chrome"/>
             <parameter name="baseUrl" value="https://the-internet.herokuapp.com/"/>
               <classes>
                    <class name="theinternetherokuappcom.TestCases">
                       <methods>
                           <include name="selectdropdown"/>
                           <include name="jqueryuimenu"/>
                           <include name="floatingmenu"/>
                       </methods>
                   </class>
               </classes>
            </test>

           <test verbose="2" preserve-order="true" name="theinternetherokuappcomfirefox">
           <parameter name="browser" value="firefox"/>
           <parameter name="baseUrl" value="https://the-internet.herokuapp.com/"/>
           <classes>
               <class name="theinternetherokuappcom.TestCases">
                   <methods>
                       <include name="selectdropdown"/>
                       <include name="jqueryuimenu"/>
                       <include name="floatingmenu"/>
                   </methods>
               </class>
           </classes>
           </test>

           <test verbose="2" preserve-order="true" name="autoriauichrome">
           <parameter name="browser" value="chrome"/>
           <parameter name="baseUrl" value="https://auto.ria.com/"/>
            <classes>
              <class name="autoriaui.BaseTestCase">
                  <methods>
                      <include name="TU01"/>
                      <include name="TU02"/>
                      <include name="TU03"/>
                      <include name="TU04"/>
                      <include name="TU05"/>
                      <include name="TU05"/>
                 </methods>
             </class>
           </classes>
           </test>

           <test verbose="2" preserve-order="true" name="autoriauifirefox">
           <parameter name="browser" value="firefox"/>
           <parameter name="baseUrl" value="https://auto.ria.com/"/>
               <classes>
               <class name="autoriaui.BaseTestCase">
               <methods>
                   <include name="TU01"/>
                   <include name="TU02"/>
                   <include name="TU03"/>
                   <include name="TU04"/>
                   <include name="TU05"/>
                   <include name="TU05"/>
               </methods>
               </class>
               </classes>
           </test>
</suite>